<head>
  <link rel="stylesheet" href="/css/bookingTable.css" />
   <script>
    window.bookings = <%- JSON.stringify(bookings) %> // Biến toàn cục lưu danh sách bàn đã đặt;
  </script>
  <script src="/js/bookingTable.js"></script>
</head>
<div class="container-bookingTable">
  <div class="container">
    <div style="margin-top: 20px; margin-bottom: 20px;" class="image-section">
      <img
        alt="A variety of buffet dishes displayed on a table. Text overlay: 'Ăn buffet mãi mê không giới hạn thời gian. Hotline: 0905 455 033 - 0905 435 033. 209/5 Nguyễn Văn Thoại, Sơn Trà, Đà Nẵng'"
        src="/image/map.jpg"
      />
    </div>
    <div class="form-section">
      <h1>HÃY ĐẶT BÀN NGAY NÀO!</h1>
      <p>Nhà hàng Thư Vãn Đà Nẵng luôn hân hạnh được phục vụ bạn</p>
      <form action="/bookingTable" method="POST">
        <div class="form-group">
          <label for="name"> Họ và Tên </label>
          <input id="name" readonly value="<%=user.firstName %> <%=user.lastName %>" type="text" />
        </div>
        <div class="form-group">
          <label for="phone"> Số điện thoại </label>
          <input id="phone" readonly value="<%=user.phoneNumber %>" type="text" />
        </div>
        <div class="form-group">
          <label for="date"> Ngày đặt </label>
          <input id="date" name="dateBooking" placeholder="dd/mm/yyyy" type="date" />
        </div>
        <div class="form-group">
          <label for="time"> Thời gian </label>
          <input id="time" name="timeBoooking" placeholder="--:-- --" type="time" />
        </div>
        <div class="form-group">
          <label for="guests">Chọn bàn</label>
          <div class="table-list">
            <% tables.forEach(table => { %>
              <div class="table-card disabled" 
                  id="table-<%= table._id %>" 
                  data-table-id="<%= table._id %>" 
                  >
                <div class="table-id">Bàn <%= table.idTable %></div>
                <div class="table-seat">Số ghế: <%= table.seatNumber %></div>
                <div class="table-status unknown">Chưa xác định</div>
              </div>
            <% }) %>
          </div>
        </div>
        
        <!-- Input ẩn để lưu ID bàn được chọn -->
        <input type="hidden" id="selectedTableId" name="selectedTableId" />
        
        <div class="form-group">
          <label for="email"> Email xác nhận đặt bàn </label>
          <input
          readonly value="<%=user.email %>"
          />
        </div>
        <div class="form-group">
          <label for="requests"> Yêu cầu thêm </label>
          <textarea
            id="requests"
            name="requests"
            placeholder="Nhập yêu cầu cần hỗ trợ..."
            rows="4"
          ></textarea>
        </div>
       
        <div class="form-group">
          <input type="submit" value="Đặt ngay" />
        </div>
      </form>
    </div>
  </div>
</div>
